<div class="card">
    <div class="card-body">
        <h4><i class="fa fa-file-text" aria-hidden="true" style="color: red;"></i> Informations</h4>

        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Country</th>
                <th scope="col">City</th>
                <th scope="col">Language Skills</th>
                <th scope="col">Resume</th>
                <th scope="col">Date of Birth</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td class="text-center">
                    <i class="fa fa-eye" aria-hidden="true"></i>&nbsp;
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>